<%include ../common/include_header.html%>

<%include include_head_img.html%>


    <section id="feature" >
        <div class="container">
            <div class="row">
                <div class="features">


                    <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">



                        <table class="table table-hover table-bordered" style="margin-right: 50px;margin-left: 10px;text-align:center">
                            <%include include_menu.html%>
                        </table>



                    </div><!--/.col-md-4-->

                    <div class="col-md-9 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">

                        <div class="left wow fadeInDown">
                            <span style="font-size: large;">罚款代缴</span>
                        </div>
                        <h3 class="ab_right_title font_size_12" >
                        <span >您的位置：<a href="http://localhost:3000" class="a_little_tip">首页</a> > <a class="a_little_tip">服务中心</a>
                        </span>
                        </h3>
                        <p>
                        <p style="text-indent:2em;">
                            <span style="font-family:Microsoft YaHei;"><span style="font-family:Microsoft YaHei;"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span></span></span>
                        </p>
                        <p style="text-indent:2em;">
                            <span style="font-family:宋体;"><span style="font-family:'font-size:14px;"><span style="font-family:'Microsoft YaHei';"><span style="font-family:'Microsoft YaHei';font-size:14px;">&nbsp;</span><span style="font-family:'Microsoft YaHei';font-size:14px;">车联投资集团是国内汽车后市场的领军企业，也是业内第一个能形成完整产业生态链的企业，业务涵盖移动互联网、汽车大数据、汽车服务、智慧路导、二手车、新能源汽车、报废汽车拆解、汽车金融、电子商务、信息服务等领域。作为国家高新技术企业，车联集团多个项目分别获国家发改委、江西省发改委专项扶持。</span> </span></span></span>
                        </p>
                        <p>
                            <span style="font-family:'Microsoft YaHei';font-size:14px;">&nbsp;</span>
                        </p>
                        <span style="font-family:'Microsoft YaHei';font-size:14px;">&nbsp; &nbsp; &nbsp;&nbsp;</span><span style="font-family:'Microsoft YaHei';font-size:14px;">车联集团先后在北京中关村、深圳南山设立重大科研基地，车联网技术居全国首位。其自主研发的车联云软件，是中国汽车后市场唯一的“</span><span style="font-family:'Microsoft YaHei';font-size:14px;">5+1</span><span style="font-family:'Microsoft YaHei';font-size:14px;">”互联网工具。车联网线下已布局全国</span><span style="font-family:'Microsoft YaHei';font-size:14px;">17</span><span style="font-family:'Microsoft YaHei';font-size:14px;">个省市，未来</span><span style="font-family:'Microsoft YaHei';font-size:14px;">3</span><span style="font-family:'Microsoft YaHei';font-size:14px;">年内，车联将持续整合行业资源，建立中国汽车大数据中心，打造全国汽车消费服务的信用体系。</span><span style="font-family:Microsoft YaHei;font-size:14px;"><br />
                        <br />
                        <strong><span style="color:#003399;font-size:18px;">车联核心竞争力<br />
                        </span></strong><br />
                        <strong><span style="color:#e53333;">车联形成完整产业生态链</span></strong><br />
                        <strong>1、车联网</strong><br />
                        <strong>2、报废汽车标准化拆解</strong><br />
                        <strong>3、新能源汽车</strong><br />
                        <strong>4、车联大数据</strong><br />
                        <br />
                        <strong><span style="color:#e53333;">专注汽车后市场 六项行业首创</span></strong><br />
                        <strong>1、全国第一个用大数据模式发展汽车后市场的企业</strong><br />
                        <strong>2、全国汽车后市场第一个能形成完整产业生态链的企业</strong><br />
                        <strong>3、成功研发全国第一套集管理、采购、营销、支付与吸粉的软件工具</strong><br />
                        <strong>4、全国汽车后市场唯一一家成功申办95号段的企业</strong><br />
                        <strong>5、全国汽车后市场第一个上央视《新闻联播》等国家主流媒体的企业</strong><br />
                        <strong>6、全国第一个发起交通事故家庭救助计划项目，成立江西省红土情慈善基金会的企业</strong></span>
                        <p>
                            <br />
                        </p>
                        <p style="text-indent:24pt;">
                            <span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:'font-size:10.5pt;"></span>
                        </p>
                        <p style="text-indent:24pt;" align="center">
                            <img src="web/images/blog/blog1.jpg" alt="" />&nbsp;
                        </p>
                        <p style="text-indent:24pt;" align="center">
                            &nbsp;
                        </p>
                        <p>
                            <br />
                        </p></p>



                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#feature-->









<%include ../common/include_footer.html%>

<script>
    $("#my_services").addClass("active");
</script>