<%include ../common/include_header.html%>

<%include include_head_img.html%>


    <section id="feature" >
        <div class="container">
            <div class="row">
                <div class="features">


                    <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">



                        <table class="table table-hover table-bordered" style="margin-right: 50px;margin-left: 10px;text-align:center">
                            <%include include_menu.html%>
                        </table>


                    </div><!--/.col-md-4-->

                    <div class="col-md-9 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">

                        <div class="left wow fadeInDown">
                            <span style="font-size: large;">薪酬福利</span>
                        </div>
                        



                        <h3 class="ab_right_title font_size_12" >
                        <span >您的位置：<a href="http://localhost:3000" class="a_little_tip">首页</a> > <a class="a_little_tip">人力资源</a>
                        </span>
                        </h3>


                       <div>
                           <p>
                               为了吸引、激励和保留优秀人才，实现企业与员工的双赢，公司为员工提供全面的、有竞争力的薪酬福利体系：
                           </p>
                           <br />
                           <span style="color:#E53333;font-size:16px;"><strong>一、竞争性薪酬</strong></span><br />
                           <br />
                           1、江西车联提供具有外部竞争力和内部公平性的薪酬激励，以短期和中长期激励组合实现个人价值和企业价值的统一；<br />
                           2、江西车联员工每年有四次升职加薪机会，在每个季度末可参加竞聘，公司会根据员工过去一段时间的工作业绩表现给予一定额度的加薪，肯定员工的工作表现；<br />
                           3、江西车联针对优秀一线销售人员将额外给予月度、季度、年度的各项奖金激励。<br />
                           <br />
                           <span style="font-size:16px;color:#E53333;"><strong>二、多元化福利</strong></span><br />
                           <br />
                           1、江西车联提供社会五险（养老、医疗、生育、工伤、失业）的福利，另外还提供一些补充福利，包括生日福利、结婚礼金、产子礼金、一年三节福利和年终奖在内的江西车联自有福利；<br />
                           2、江西车联为员工提供包括带薪年假、带薪病假、带薪婚假、带薪产假、带薪陪产假等在内的多元假期，为员工提供人性化的员工关怀；<br />
                           3、江西车联为员工提供丰富多彩的员工活动，如户外拓展、羽毛球比赛、棋类比赛等活动，保证员工在江西车联快乐工作、快乐生活；<br />
                           4、江西车联注重孝道文化，关心员工父母及家人的生活，为员工排忧解难。<br /></p>

                       </div>



                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#feature-->









<%include ../common/include_footer.html%>

<!--jquery修改首页导航样式-->
<script>
    $("#human_resources").addClass("active");
</script>