<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home</title>


    <!--layui后面添加的-->
    <link href="http://localhost:3000/web/layui/css/layui.css" rel="stylesheet">
    <!-- core CSS -->
    <link href="http://localhost:3000/web/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://localhost:3000/web/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://localhost:3000/web/css/animate.min.css" rel="stylesheet">
    <link href="http://localhost:3000/web/css/prettyPhoto.css" rel="stylesheet">
    <link href="http://localhost:3000/web/css/main.css" rel="stylesheet">
    <link href="http://localhost:3000/web/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="http://localhost:3000/web/js/html5shiv.js"></script>
    <script src="http://localhost:3000/web/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="http://localhost:3000/web/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://localhost:3000/web/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://localhost:3000/web/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://localhost:3000/web/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://localhost:3000/web/images/ico/apple-touch-icon-57-precomposed.png">

</head><!--/head-->

<body class="homepage">

<header id="header">


    <nav class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="http://localhost:3000/web/images/logo1.png" alt="logo"></a>
            </div>

            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li  id="main"><a href="/">首页</a></li>
                    <li class="dropdown" id="company">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">走进车协<i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/company_intro">集团介绍</a></li>
                            <li><a href="/process">车协进程</a></li>
                            <li><a href="/organize">组织结构</a></li>
                            <li><a href="/culture">企业文化</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" id="news">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">新闻中心<i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/company_dynamic">公司动态</a></li>
                            <li><a href="/media_report">媒体报道</a></li>
                            <li><a href="/activity_report">活动报道</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" id="my_services">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">服务中心<i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/services1">违章代办</a></li>
                            <li><a href="/services2">罚款代缴</a></li>
                            <li><a href="/services3">车险办理</a></li>
                        </ul>
                    </li>
                    <li id="my_partner"><a href="/partner">合作伙伴</a></li>
                    <li class="dropdown" id="human_resources">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">人力资源 <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/recruit">招聘</a></li>
                            <li><a href="/benefits">薪酬福利</a></li>
                            <li><a href="/staff_style">员工风采</a></li>
                            <li><a href="/quit_notice">离职公示</a></li>
                        </ul>
                    </li>
                    <li id="contact_us"><a href="/contact_us">联系我们</a></li>
                </ul>
            </div>
        </div><!--/.container-->
    </nav><!--/nav-->

</header><!--/header-->


