<section id="bottom">
    <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>江西车协</h3>
                    <ul>
                        <li><a href="http://localhost:3000/company_intro">集团介绍</a></li>
                        <li><a href="http://localhost:3000/process">车协进程</a></li>
                        <li><a href="http://localhost:3000/organize">组织架构</a></li>
                        <li><a href="http://localhost:3000/culture">公司文化</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>新闻中心</h3>
                    <ul>
                        <li><a href="http://localhost:3000/company_dynamic">公司动态</a></li>
                        <li><a href="http://localhost:3000/media_report">媒体报道</a></li>
                        <li><a href="http://localhost:3000/activity_report">活动报道</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>人力资源</h3>
                    <ul>
                        <li><a href="http://localhost:3000/recruit">公司招聘</a></li>
                        <li><a href="http://localhost:3000/benefits">公司福利</a></li>
                        <li><a href="http://localhost:3000/staff_style">员工风采</a></li>
                        <li><a href="http://localhost:3000/quit_notice">离职公示</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>友情链接</h3>
                    <ul>
                        <li><a href="#">百度</a></li>
                        <li><a href="#">阿里巴巴</a></li>
                        <li><a href="#">腾讯</a></li>
                        <li><a href="#">网易新闻</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->
        </div>
    </div>
</section><!--/#bottom-->

<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                Copyright &copy; 2015.版权所有：江西车联 赣ICP备12003881号
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="http://localhost:3000">首页</a></li>
                    <li><a href="http://localhost:3000/contact_us">联系我们</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer><!--/#footer-->

<script src="http://localhost:3000/web/js/jquery.js"></script>
<script src="http://localhost:3000/web/js/bootstrap.min.js"></script>
<script src="http://localhost:3000/web/js/jquery.prettyPhoto.js"></script>
<script src="http://localhost:3000/web/js/jquery.isotope.min.js"></script>
<script src="http://localhost:3000/web/js/main.js"></script>
<script src="http://localhost:3000/web/js/wow.min.js"></script>
</body>
</html>