<%include ../common/include_header.html%>

    <!-- about us slider -->
    <div id="about-slider">
        <div id="carousel-slider" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators visible-xs">
                <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-slider" data-slide-to="1"></li>
                <li data-target="#carousel-slider" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <img src="http://localhost:3000/web/images/index3.jpg" class="img-responsive" alt="" style="min-height: 200px">
                </div>
                <div class="item">
                    <img src="http://localhost:3000/web/images/index4.jpg" class="img-responsive" alt="" style="min-height: 200px">
                </div>
                <div class="item">
                    <img src="http://localhost:3000/web/images/index5.jpg" class="img-responsive" alt="" style="min-height: 200px">
                </div>
            </div>

            <a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>

            <a class=" right carousel-control hidden-xs"href="#carousel-slider" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div> <!--/#carousel-slider-->
    </div><!--/#about-slider-->


    <section id="feature" >
        <div class="container">
            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">

                        <div class="left wow fadeInDown">
                            <span style="font-size: large;">公司简介</span><a href="/company_intro" class="pull-right a_color margin_right_10">更多</a>
                        </div>
                        <div class="feature-wrap">

                            <br>

                           <img src="http://localhost:3000/web/images/man3.jpg" style="float:left; padding-right: 30px;padding-bottom: 30px">

                            <p>&nbsp;&nbsp;江西省车协汽车服务有限公司的地址在湖坊工业园办公大楼三楼303室，我们主要经营汽车零配件批发、零售；代理机动车登记和相关业务（补发机动车登记证书除外）；汽车租赁；展览展示服务；汽车，总经理吴烈，欢迎您前来参观指导，业务联系电话为18507001113.</p>
                        </div>


                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">

                        <div class="left wow fadeInDown">
                            <span style="font-size: large;">公司新闻</span><a href="/company_dynamic" class="pull-right a_color margin_right_10">更多</a>
                        </div>
                        <br>

                        <table class="table table-hover" id="tabContent">

                        </table>


                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">

                        <div class="left wow fadeInDown">
                            <span style="font-size: large;">人力资源</span><a href="/recruit" class="pull-right a_color margin_right_10">更多</a>
                        </div>
                        <br>
                        <table class="table table-hover" id="tabContent_recruit">

                        </table>
                        <div class="left wow fadeInDown">
                            <span style="font-size: large;">离职公示</span><a  href="/quit_notice" class="pull-right a_color margin_right_10">更多</a>
                        </div>
                        <br>
                        <table class="table table-hover" id="tabContent_quit">
                        </table>
                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#feature-->



    <section id="services" class="service-item">
	   <div class="container">
            <div class="center wow fadeInDown">
                <h2>我们的服务</h2>
                <p class="lead">我们的服务我们的服务我们的服务我们的服务，《详情见江西车协APP或微信公众》</p>
            </div>

           <div class="row">

               <div class="col-sm-6 col-md-4">
                   <div class="media services-wrap wow fadeInDown">
                       <div class="pull-left">
                           <img class="img-responsive" src="web/images/services/services1.png">
                       </div>
                       <div class="media-body">
                           <h3 class="media-heading">车务代办</h3>
                           <p>任何车务都可解决···任何车务都可解决···</p>
                       </div>
                   </div>
               </div>

               <div class="col-sm-6 col-md-4">
                   <div class="media services-wrap wow fadeInDown">
                       <div class="pull-left">
                           <img class="img-responsive" src="web/images/services/services2.png">
                       </div>
                       <div class="media-body">
                           <h3 class="media-heading">车险</h3>
                           <p>在这儿享受最彻底的优惠···最彻底的优惠···</p>
                       </div>
                   </div>
               </div>

               <div class="col-sm-6 col-md-4">
                   <div class="media services-wrap wow fadeInDown">
                       <div class="pull-left">
                           <img class="img-responsive" src="web/images/services/services3.png">
                       </div>
                       <div class="media-body">
                           <h3 class="media-heading">车品商城</h3>
                           <p>低价高品的车友商城···低价高品的车友商城···</p>
                       </div>
                   </div>
               </div>

               <div class="col-sm-6 col-md-4">
                   <div class="media services-wrap wow fadeInDown">
                       <div class="pull-left">
                           <img class="img-responsive" src="web/images/services/services4.png">
                       </div>
                       <div class="media-body">
                           <h3 class="media-heading">会员活动</h3>
                           <p>我们的会员，享受尊贵服务··尊贵服务···</p>
                       </div>
                   </div>
               </div>

               <div class="col-sm-6 col-md-4">
                   <div class="media services-wrap wow fadeInDown">
                       <div class="pull-left">
                           <img class="img-responsive" src="web/images/services/services5.png">
                       </div>
                       <div class="media-body">
                           <h3 class="media-heading">违章代缴</h3>
                           <p>违章不用操心费神，找车协··操心费神，找车协···</p>
                       </div>
                   </div>
               </div>

               <div class="col-sm-6 col-md-4">
                   <div class="media services-wrap wow fadeInDown">
                       <div class="pull-left">
                           <img class="img-responsive" src="web/images/services/services6.png">
                       </div>
                       <div class="media-body">
                           <h3 class="media-heading">二手车</h3>
                           <p>车友内部高性价比二手车，棒棒的···</p>
                       </div>
                   </div>
               </div>
           </div><!--/.row-->

        </div><!--/.container-->
    </section><!--/#services-->



    <section id="conatcat-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">
                        <div class="pull-left">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="media-body">
                            <h2>有任何问题?</h2>
                            <p>请拨打12345678或者在留言板留言，工作人员会尽快和你取得联系！</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->    
    </section><!--/#conatcat-info-->

<%include ../common/include_footer.html%>
<script type="text/javascript" src="http://localhost:3000/web/layui/layui.js"></script>
<!--jquery修改首页导航样式-->
<script>
    //一般直接写在一个js文件中
    layui.use(['layer', 'form'], function(){
        var layer = layui.layer
                , $ = layui.jquery;

        //页面初始化的时候执行
        $(function (){
            $("#main").addClass("active");
            getNews();
            getRecruits();
            getQuits();
        });

        //从后台获取数据函数，获取6条新闻数据
        function getNews(){
            $.get("web/get_news",function(result){
                //拼接html内容
                var tabContent="";
                //获取后台json数据
                var mydata=result.datas;
                for(var i=0;i<mydata.length;i++){
                    var tempStr='<tr id='+mydata[i]._id+'>'+
                                /*序号分页后也必须得变动,每页十条数据*/
                            '<td>'+(i+1)+'、 <a href="/news_detail/'+mydata[i]._id+'" class="a_color">'+mydata[i].title+'</a><span class="pull-right">'+mydata[i].time+'</span></td>'+
                            '</tr>'
                    tabContent=tabContent+tempStr;
                }
                //将拼接好的数据填入#tabContent中
                $("#tabContent").html(tabContent);
            });
        };

        //从后台获取数据函数，获取三条招聘信息
        function getRecruits(){
            $.get("web/get_recruits",function(result){
                //拼接html内容
                var tabContent="";
                //获取后台json数据
                var mydata=result.datas;
                for(var i=0;i<mydata.length;i++){
                    var tempStr='<tr id='+mydata[i]._id+'>'+
                                /*序号分页后也必须得变动,每页十条数据*/
                            '<td>'+(i+1)+'、职位：'+mydata[i].position+'<span class="pull-right">'+mydata[i].department+'</span></td>'+
                            '</tr>'
                    tabContent=tabContent+tempStr;
                }
                //将拼接好的数据填入#tabContent中
                $("#tabContent_recruit").html(tabContent);
            });
        };

        //从后台获取数据函数，获取离职公示信息
        function getQuits(){
            $.get("web/get_quits",function(result){
                //拼接html内容
                var tabContent="";
                //获取后台json数据
                var mydata=result.datas;
                for(var i=0;i<mydata.length;i++){
                    var tempStr='<tr id='+mydata[i]._id+'>'+
                                /*序号分页后也必须得变动,每页十条数据*/
                            '<td>'+(i+1)+'、姓名：'+mydata[i].name+'<span class="pull-right">'+mydata[i].department+'</span></td>'+
                            '</tr>'
                    tabContent=tabContent+tempStr;
                }
                //将拼接好的数据填入#tabContent中
                $("#tabContent_quit").html(tabContent);
            });
        };

    });


</script>